body { background-color: #FFF; background-image: url('/static/images/backgrounds/festival.jpg');  background-repeat: repeat-x repeat-y; background-attachment: fixed; }
#page { border: solid 0.125em #7A3E48; }
#navbar { width:auto; display:block; height:1.875em; background: #7A3E48; margin-bottom: 1em; }
#links_box_link a { color: #FFF; }
#links_box_link a:hover { color: #000; background-color: #EECD86; }
.sf-menu li { background: #7A3E48; }
.sf-menu li li { background: #7A3E48; }
.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active { background: #EECD86; }